
*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.navbar{
    position: relative;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #393053;
    align-items: center;
    padding: 30px 20px;
    color: red;
    font-size: 30px;
    text-align: center;
}

.navitems{
    display: flex;
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    size: 5cm;
    list-style-position: inside;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 20px;
    text-align: center;
    
}


